.shape_circle {
    border-radius: 50% ;
    width: 150px;
    height: 150px;
    background-color: red;
}

.shape_rect{
    width: 200px;
    height: 100px;
    background-color: rebeccapurple;
}

.shape_triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 100px solid red;
}

.hide{
    display: none;
}